body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-0: black;
  --color-0-lighter: rgb(81, 81, 81);
  --color-1-darker: rgb(203, 203, 203);
  --color-1: white;
  
  /*
  --color-2: #927d49;
  --color-2-darker: #7d6b3d;
  */

  /* Client colors */
  --color-2: #2b9465;
  --color-2-darker: #20724e;
  --color-3: #d40c48;
  
  /* Admin colors */
  --color-admin: #d82387;
  --color-admin-darker: #a11060;
  --color-admin-darker-tr: #a1106092;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}