#admin {
    background-color: var(--color-1);
    color: var(--color-0);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin-colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    width: 60%;
    padding: 3vw;
    border-radius: 2vw;
    border: 2px solid var(--color-admin-darker);
    box-shadow: 2px 2px 4px rgb(141, 141, 141);
}

#admin-colors-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    min-height: 60px;
    padding: 15px 0px;
}

.admin-colors-level {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.admin-colors-display {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
}

.admin-colors-name {
    min-width: 50px;
    height: 17px;
    resize: none;
}

.admin-colors-delete {
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
}
