#dried-flowers-catalog {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.dried-flowers-row {
    display: flex;
    gap: 2vw;
}

@media (width <=768px) {
    .dried-flowers-row {
        flex-direction: column;
    }
}