#footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;;
    margin-bottom: 0;

    height: fit-content;
    background-color: var(--color-2);
    color: var(--color-1);
    font-size: small;
}

#footer-logo {
    align-self: center;
    height: 30%;
    max-height: 5vh;
    border-radius: 20%;
    padding: 5px;
    cursor: pointer;
}

.footer-col {
    width: 30%;
    height: fit-content;
}

.footer-url {
    margin: 5px;
    cursor: pointer;
}

.footer-url:hover {
    font-weight: 500;
}