#footer {
    background-color: var(--color-2);
    color: var(--color-1);
    min-height: 10vh;

    display: flex;
    justify-content: space-evenly;
}

#footer-logo {
    height: 4vh;
    align-self: center;
}