.admin-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-page-title {
    width: fit-content;
}

.admin-element-title {
    margin: 0px;
    text-align: center;
}

.admin-button {
    border: var(--color-3) 1px solid;
    border-radius: 5px;
    background-color: var(--color-3-lighter);
    cursor: pointer;

    padding: 10px;
    margin: 5px;
}