.admin-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-page-title {
    width: fit-content;
}

.admin-element-title {
    margin: 0px;
    text-align: center;
}

.admin-button {
    border: var(--color-logo-dark) 1px solid;
    border-radius: 5px;
    background-color: var(--color-logo-light);
    cursor: pointer;

    padding: 10px 20px;
    margin: 5px;
}